# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.venv/
env/
venv/

# Node
node_modules/
.npm/
.eslintcache

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Frappe/Bench specifics
.bench/
*.log
sites/*/private/backups/
sites/*/private/files/
sites/*/private/logs/
sites/*/error-snapshots/
sites/*/logs/
sites/*/public/backups/
sites/*/public/files/
sites/assets/
assets/
# DO NOT commit site configs (DB creds & keys)
sites/*/site_config.json
sites/common_site_config.json

# Frontend build outputs
dist/
build/

# Coverage/pytest
.coverage
htmlcov/
.pytest_cache/
